#wrapper {
    background-color:yellow;
    height: 100%;
    width: 100%;
    color:red;
    }

#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	font-color: white;
	background:#0fcbd1;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
